<%= render "shared/navbar" %>
<div class="banner">
  <div class="banner-content">
    <h1>Make a List of Movies</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.submit "New List", class: "btn btn-gradient" %>
    <% end %>
  </div>
</div>
<div class="cards">
  <h2>Movie Lists</h2>
  
  </div>
