<h2><%= @list.name %></h2>
<p>List of movies should display here</p>
<% @list.movies.each do |movie|   %>
  <%= movie.title %>
<% end %>

<%= link_to "New Bookmark", new_list_bookmark_path(@list) %>
<ul>
  <li><%= link_to "Destroy", bookmark_path(@list),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>


|
