<h2><%= @list.name %></h2>
<p>List of movies should display here</p>

<%= link_to "Add Bookmark" %>
<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill

<%= cl_image_tag("bll7gqrpmm4jzxmtrtwa",
      width: 400, height: 300, crop: :fill) %>
