// Define variables for your color scheme

// For example:
$red: #c0070a;
$blue: #0761c9;
$yellow: #ffb01d;
$orange: #E67E22;
$green: #2a9b68;
$gray: #464242a1;
$light-gray: #F4F4F4;
$pink: rgb(211, 71, 94)
